.App {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, rgba(67, 207, 162, 1) , rgba(24, 90, 157, 1));
  padding: 50px 0;
  overflow-y: auto;
}

.title {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
