.header {
  margin-bottom: 20px;
}

.input-area {
  position: relative;
  display: inline-block;
}

.check-all {
  position: absolute;
  left: 0px;
  top: 3px;
}

.input {
  border: none;
  border-bottom: 1px solid #eee;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  outline: none;
  padding: 5px 10px;
  padding-left: 20px;
}
