.todo {
  margin-top: 5rem;
  max-height: 40vh;
  padding: 1rem;
  overflow-y: auto;

  &--empty {
    color: #777;
    text-align: center;
  }
}

.source-code {
  text-align: center;

  h6 {
    margin: 5px 0;
  }

  a {
    color: #777;

    &:visited {
      color: #777;
    }
  }
}

.checkout {
  margin-top: .5rem;
  text-align: center;

  a {
    margin: 0 .5rem;
    text-decoration: none;
    font-weight: bold;

    &.active {
      text-decoration: underline;
    }
    
    &.react, &.react:visited {
      color: #61dbfb;
    }

    &.vue, &.vue:visited{
      color: #41b883;
    }

    &.angular, &.angular:visited {
      color: #b52e31;
    }
  }
}
